/** Import Reset CSS **/

@import url("reset.css");



@font-face {
    font-family:'TitleExtraBold';
    src: url('font/opensans/OpenSans-ExtraBold-webfont.eot');
    src: url('font/opensans/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('font/opensans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('font/opensans/OpenSans-ExtraBold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'TitleBold';
    src: url('font/opensans/OpenSans-Bold-webfont.eot');
    src: url('font/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans/OpenSans-Bold-webfont.woff') format('woff'),
         url('font/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('font/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'Text';
    src: url('font/opensans/OpenSans-Regular-webfont.eot');
    src: url('font/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('font/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('font/opensans/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face { 
    font-family:'SubTitle';
    src: url('font/compressed/trump_gothic_west_bold.ttf');
    font-weight: normal;
    font-style: normal;
    

}



/**GlobalStyles**/
html{height: 100%;overflow: auto;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
body{width:100%;height:100%;font-family: "Text", Arial, Verdana, Helvetica, sans-serif;font-size:13px;padding:0;background-repeat:no-repeat;margin:0px;}
::selection{background:#000;color:#FFF;}
::-moz-selection{background:#000;color:#FFF;}
a{color:#cf043d;text-decoration:none;; text-decoration: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;}
a:hover{color:#00B2E0;}



/**LAYOUTSTYLES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<**/

/**Containers**/
.container{width:100%;line-height:22px;height:100%;position:relative;margin:auto;padding:0px;}
.darkbg{background-color:#e60544;}
.coverbg{max-width:1000px;background-color:#FFFFFF;}
.darkbg2{max-width:1000px;background-color:#FFFFFF;}	
.lightbluebg{background-color:#e60544;}
.bg3{max-width:1000px;background-color:#FFFFFF;}

/**MenuTOP**/
#menu{width:400px;float:right;height:50px;}				
.container#menucont{width:80%;max-width:980px;padding:3px0;margin:0auto;height:60px;}			
.container#menucont img{display:block;width:100%;height:100%;}	
.container#menucont.menuselect{display:none;font-family:inherit;}

.container#menucont ul{float:left;}
.container#menucont ul li{display:inline;}
.container#menucont ul li a{float:left;padding:0 15px;font-weight:bold;font-size:13px;text-decoration:none;color:#CCF5FF;font-family:"primaria", Arial, Verdana, Helvetica, sans-serif}
.container #menucont ul li a:hover,.container #menucont ul li.active a{color:#FFF;}

/**Header**/
#headercont{background-color:#cf043d;width:100%;margin-left:0px;height:50px;position:relative;padding-bottom:0px;padding-top:5px;color:#FFFFFF}
#language{float:left; width:200px; color:#FFFFFF; background-color: #990000; font-size:18px; }
#language a:link{float:left; width:200px; color:#FFFFFF; background-color: #990000; font-size:18px; }
#language a:visited{float:left; width:200px; color:#FFFFFF; background-color: #990000; font-size:18px; }

/**Main-------------------------------------------------------**/
.container #maincont{text-align:center;width:100%;height:100%;margin:auto;position:relative;padding:0px;;background-color:#ccc;}
#maincenter{width:1260px;padding:0px;height:auto; text-align:center; font-size:17px;margin-bottom:50px}
#maincenter h1{font-size:24px; font-weight: bold;font-family: "TitleExtraBold", Arial, Verdana, Helvetica, sans-serif;font-size:26px; line-height: 26px;}
#mainleft{color:#000;width:70%;background-color:#e5e5e5;height:100%;margin:auto;padding:0px;float:left;text-align:left;position:relative;overflow:hidden}
#mainleft_header{color:#000;background-color:#e5e5e5;margin-top:0px;padding:0px;padding-left:30px;padding-right:10px;text-align:center;margin:auto;position:relative;overflow:hidden;background-position:right;}
#mainleft_header img{height:100%;width:100%;}
.mainleft_text{position:relative;margin-top:20px;margin-bottom:100px;padding-top:10px;float:left;padding-left:20px;}
.mainleft_text h1{font-size:24px; font-weight: bold;font-family: "TitleExtraBold", Arial, Verdana, Helvetica, sans-serif;font-size:26px; line-height: 26px;}	
.mainleft_text h2{font-size:18px; font-weight: bold;font-family: "TitleBold", Arial, Verdana, Helvetica, sans-serif; line-height: 26px;}		
#mainright{float:right;background-color:#ccc;width:30%;padding:0px;height:600px;}

/**Footer---------------------------------------------**/		
.container #footercont{width:100%;margin:0auto;font-size:11px;text-align:right;padding:15px000;color:#fff;background-color:#000000}
.clearfix:before,
.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}


/** ORDER BY IN HOMEPAGE------------------------------------------------------ **/
.row_orderby{text-align:left;width:90%;height:20px;margin:auto;position:relative;padding:0px;padding-top:5px; padding-bottom:5px}
.row_orderby .col{width:auto;float:left; margin-right:5px;}


/** jcarousel SLIDE IN HOMEPAGE------------------------------------------------------ **/
.jcarousel-wrapper {position: relative;text-align: center;margin:auto;width:1260px; height:auto; margin-top:10px;overflow:hidden}
.jcarousel-plist-wrapper {position: relative;text-align: center;margin:auto;width:1260px; height:auto;margin-top:10px;overflow:hidden}
.jcarousel-gen-wrapper {position: relative;text-align: center;margin:auto;width:1260px; height:auto; margin-top:10px;overflow:hidden}

.jcarousel-prev{float:left;width: 20px;height:240px;margin:auto;position:relative;background-image:url(../images/button-prev.png);background-repeat:no-repeat;}
.jcarousel-prev a:hover{background-image:url(../images/button-prevACT.png);}
.jcarousel-next{float:right;width: 20px;height:240px;margin:auto;position:relative;background-image:url(../images/button-next.png);background-repeat:no-repeat; background-position:right}
.jcarousel-next a:hover{background-image:url(../images/button-prevACT.png);}

.jcarousel-plist-prev{float:left;width: 20px;height:240px;margin:auto;position:relative;background-image:url(../images/button-prev.png);background-repeat:no-repeat;}
.jcarousel-plist-prev a:hover{background-image:url(../images/button-prevACT.png);}
.jcarousel-plist-next{float:right;width: 20px;height:240px;margin:auto;position:relative;background-image:url(../images/button-next.png);background-repeat:no-repeat; background-position:right}
.jcarousel-plist-next a:hover{background-image:url(../images/button-prevACT.png);}


.jcarousel-gen-prev{float:left;width: 20px;height:140px;margin:auto;position:relative;background-image:url(../images/button-prev-small.png);background-repeat:no-repeat;}
.jcarousel-gen-prev a:hover{background-image:url(../images/button-prevACT-small.png);}
.jcarousel-gen-next{float:right;width: 20px;height:140px;margin:auto;position:relative;background-image:url(../images/button-next-small.png);background-repeat:no-repeat;background-position:right }
.jcarousel-gen-next a:hover{background-image:url(../images/button-prevACT-small.png);}



/** tags **/
.jcarousel {float:left; position: relative; overflow: hidden;width: 1220px;}
.jcarousel ul {width: 3220em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel li {float: left; border:#ccc solid 2px}
/** .jcarousel img {display: block; max-width: 100%; height: auto !important; } **/

/** playlists **/
.jcarousel-plist {float:left;position: relative;overflow: hidden;width: 1220px;}
.jcarousel-plist ul {width: 3220em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel-plist li {float: left; border:#ccc solid 2px}


/**  genres **/
.jcarousel-gen {float:left;position: relative;overflow: hidden;width: 1220px;}
.jcarousel-gen ul {width: 3220em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel-gen li {float: left; border:#ccc solid 2px}


/**CSSMODULES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<**/

/** suggested link-----------------------------------------------------**/
.suggested_cont{float:left;width:98%;padding:0px;height:auto;margin:auto;position:relative;margin-top:20px;}
.suggested_title{float:left;height:20px;width:100%; text-align:left; padding-top:10px;padding-bottom:3px; border-bottom:#666 solid 1px; font-size:22px;font-family: "Subtitle", Arial, Verdana, Helvetica, sans-serif;text-transform:uppercase;  letter-spacing:1px;}
ul.suggested {text-decoration:none; list-style: none; 	padding: 0; margin-top:10px;float:left;}
ul.suggested li{ float:left; background-color:#999999; margin-right:5px; margin-bottom:20px; padding:0px}
ul.suggested li a{width:70px; height:70px;background-color:#999999;display: block; }
ul.suggested img{width: 100%; height: auto;  z-index:2}	





/** tags -----------------------------------------------------**/
.bv_maincont{float:left;width:auto;padding:0px;height:auto;margin:auto;position:relative;margin-top:20px;margin-left:30px}
.boxview {float:left;margin:0px;padding:0px;width:240px;height:auto;display:inline;}
.boxview ul{text-decoration:none;}
.boxview li{display:block}
.boxview img{width:240px; height:240px;  z-index:2}			
.boxview .text{width:236px;height:76px;z-index:10;position:absolute;background:#000000;filter:alpha(opacity=70);
-moz-opacity:.70;opacity:.70;color:#FFFFFF;margin-top:160px;font-size:12px;line-height:15px;padding:2px;text-align:left;color:#cccccc}	
.boxview .tag{height:20px;z-index:10;position:absolute;background:#e60544;color:#fff;margin-top:20px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;font-size:15px;padding:5px}
/** genres-----------------------------------------------------**/
.bv_maincont2{float:left;width:auto;padding:0px;height:auto;margin:auto;position:relative;margin-top:20px;margin-left:30px}
.boxview2 {float:left;margin:0px;padding:0px;width:134px;height:auto;display:inline;}
.boxview2 ul{text-decoration:none;}
.boxview2 li{display:block}
.boxview2 img{width:132px; height:132px;  z-index:2}			
.boxview2 .text{width:236px;height:76px;z-index:10;position:absolute;background:#000000;filter:alpha(opacity=70);
-moz-opacity:.70;opacity:.70;color:#FFFFFF;margin-top:160px;font-size:12px;line-height:15px;padding:2px;text-align:left;color:#cccccc}	
.boxview2 .tag{height:20px;z-index:10;position:absolute;background:#e60544;color:#fff;margin-top:20px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;font-size:15px;padding:5px}
/**  playlists -----------------------------------------------------**/
.bv_maincont3{float:left;width:auto;padding:0px;height:auto;margin:auto;position:relative;margin-top:20px;margin-left:30px}
.boxview3 {float:left;margin:0px;padding:0px;width:240px;height:auto;display:inline;}
.boxview3 ul{text-decoration:none;}
.boxview3 li{display:block}
.boxview3 img{width:240px; height:240px;  z-index:2}			
.boxview3 .text{z-index:1;width:220px;height:165px;position:absolute;background:#000000;filter:alpha(opacity=70);
-moz-opacity:.70;opacity:.70;color:#FFFFFF;margin-top:0px;font-size:12px;line-height:15px;padding-left:10px;padding-right:10px;text-align:left;color:#cccccc; padding-top:75px;}
.boxview3 .tag{z-index:3;text-align:left;max-width:200px;height:auto;position:absolute;background:#0895ee;color:#fff;margin-top:20px;font-family:"TitleBold",Arial,Verdana,Helvetica,sans-serif;font-size:14px;padding:5px; line-height:16px;}


/**ul.boxview3 li{display:block; width:240px;height:auto; float:left; border:#ccc solid 2px}
ul.boxview3 li a {display:block;}
ul.boxview3 img{width:240px; height:240px;  z-index:2}			
ul.boxview3 .text{z-index:1;width:240px;height:240px;position:absolute;background:#000000;filter:alpha(opacity=70);
-moz-opacity:.70;opacity:.70;color:#FFFFFF;margin-top:0px;font-size:12px;line-height:15px;padding-left:10px;padding-right:10px;text-align:left;color:#cccccc; padding-top:75px;}	
ul.boxview3 .tag{z-index:5;text-align:left;max-width:200px;height:auto;position:absolute;background:#0895ee;color:#fff;margin-top:20px;font-family:"TitleBold",Arial,Verdana,Helvetica,sans-serif;font-size:14px;padding:5px; line-height:16px;}
**/


/**headervideo-----------------------------------------------------**/
	#headervideo_cont {
	 width: 65%;display: inline-block;position: relative;;margin-bottom:10px;margin-top:10px;margin-right:10px;max-width:600px;float:left;border:#CCCCCC solid 4px;}		
	#headervideo_cont:after {
		padding-top: 66.25%;
		display: block;
		content: '';
	}
	#headervideo {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		background-color: blue;
		color: white;
	}
		
#headervideo h1{font-size:26px;font-weight:400;padding-top:26px;}			
#headervideo h1 a{font-family:"Orienta",Arial,Helvetica,sans-serif;color:#FFF;font-size:35px;letter-spacing:-2px;}				
#headervideo h1 a:hover{color:#0CF;}
/**headertext-----------------------------------------------------**/
#headertext{width:30%;height:280px;margin:auto;position:relative;margin-bottom:10px;margin-top:10px;max-width:600px;float:left;
font-family:"Orienta",Arial,Helvetica,sans-serif;color:#000;font-size:13px;text-align:left}	
/**headertitle-----------------------------------------------------**/
#headertitle{width: auto;height: auto;margin:auto;position:relative;margin-bottom:10px;margin-top:20px;max-width:600px;
 font-family: "TitleBold", Arial, Helvetica, sans-serif; font-size:25px;color:#000;text-align:left; font-size: 26px; line-height: 26px; }	
/**player_toolbar-----------------------------------------------------**/
#player_toolbar{width:100%;background-color:#999999;height:auto;margin:auto;position:relative;margin-bottom:10px;margin-top:0px;max-width:900px;float:left;height:30px; display:none}		



/**mod_mainsearch-----------------------------------------------------OLD
#mod_mainsearch{width:100%;float:left;max-width:1200px;margin:0auto;padding-left:30px;color:#fff;font-size:30px;font-family:"titolo",Arial,Verdana,Helvetica,sans-serif;}
.search_input{text-decoration:none;background-position:bottom;border:hidden;background-image:url(../images/field-search1.png);background-repeat:no-repeat;width:195px;height:29px;padding-left:5px;padding-right:5px;color:#FFFFFF;font-weight:bold;font-size:20px;font-family:Arial,Helvetica,sans-serif;text-align:center;background-color:#cf043d}
.search_button{text-decoration:none;border:hidden;margin-left:10px;background-image:url(../images/button-search1.png);background-repeat:no-repeat;width:87px;height:26px;background-color:#cf043d;color:#FFFFFF;font-weight:bold;font-size:15px;font-family:Arial,Helvetica,sans-serif}**/


/**mod_mainsearch-----------------------------------------------------**/
#mod_mainsearch{width:100%;float:left;max-width:1300px;margin:0auto;padding-left:30px;color:#fff;font-size:32px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;}
.header-answer{ float:left; width:auto;padding-right:10px;font-size:30px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;padding-top:5px;}
.header-form{ float:left; width:400px;}
.search_input{text-decoration:none;background-position:bottom;border:hidden;background-image:url(../images/field-search1.png);background-repeat:no-repeat;width:195px;height:29px;padding-left:5px;padding-right:5px;color:#FFFFFF;font-weight:bold;font-size:20px;font-family:Arial,Helvetica,sans-serif;text-align:center;background-color:#cf043d}
#mod_mainsearch .search_button{text-decoration:none;border:hidden;margin-left:10px;width:87px;height:26px;background-color:#9a012c;color:#FFFFFF;font-weight:bold;font-size:15px;font-family:Arial,Helvetica,sans-serif; cursor: pointer; }
#mod_mainsearch .search_button:hover{background-color: #990000;}



/**mod_mainsearch2-----------------------------------------------------**/
#mainsearch2_cont{width:100%;height:30px;margin:auto;position:relative;margin-bottom:10px;margin-top:0px;max-width:1200px;float:left;height:30px; border-top:#666 solid 1px; border-bottom:#666 solid 1px;  }
#mod_mainsearch2{height:30px;width:100%;max-width:1000px;margin:auto;color:#000;font-size:18px;font-family: "secondaria", Arial, Verdana, Helvetica, sans-serif;position:relative;}
#mod_mainsearch2 .search_box{padding-left:5px;padding-right:5px;padding-bottom:3px;padding-top:3px;height:20px; text-align:left}
#mod_mainsearch2 .search_text2{float:right; width:100px;font-family: "Subtitle", Arial, Verdana, Helvetica, sans-serif;text-transform:uppercase;  letter-spacing:1px;}
#mod_mainsearch2 .search_input2{background-color:#999999;text-decoration:none;border:#000 thin solid ;float:right}
#mod_mainsearch2 .search_button2{background-color:#999999;text-decoration:none;border:#CCCCCC thin solid ;margin-left:10px;float:right}


/**mod_banner1-----------------------------------------------------**/				
.mod_banner1{width:100%;height:200px;float:right;padding:5px;font-size:13px;font-weight:bold;}
.mod_banner1 img{width:100%;height:100%;}


/**mod_playCOVER-----------------------------------------------------**/				
.mod_playCOVER{width:50%;height:auto;padding:0px;font-size:13px;float:left;font-weight:bold;max-width:400px;margin-left:10px;margin-top:10px;margin-bottom:10px}
.mod_playCOVER img{width:100%;height: auto;z-index:2}
.mod_playCOVER .tag{height:20px;z-index:10;position:absolute;background:#e60544;color:#fff;margin-top:20px;font-family:"secondaria",Arial,Verdana,Helvetica,sans-serif;font-size:20px;padding:5px}


/**mod_playlists-----------------------------------------------------**/
.mod_playlists{width:100%;margin:0auto;font-size:13px;font-weight:bold;float:left;margin-left:10px}
.mod_playlists ul{margin:0auto;text-decoration:none;padding:0px;text-align:left}
.mod_playlists li{color:#fff;width:auto;height:50px;border-bottom:1px solid #666;text-decoration:none;display:block;padding-bottom:0px;padding-top:0px;}
.mod_playlists .item{float:left;padding-left:5px;}
.mod_playlists .item_ img{float:left}
.mod_playlists a{color:#000;text-decoration:none;}
.mod_playlists a:hover{color: #cf043d;}
.mod_playlists H3{color:#000;font-size:20px;font-family: "TitleBold", Arial, Verdana, Helvetica, sans-serif;margin-bottom:5px;}
.mod_playlists .header{width:auto;height:26px;background-image:url(../images/sf-lines.gif);background-repeat:no-repeat;background-color:#0895ee;color:#fff;text-align:left;padding:0px;margin:0px;overflow:hidden;}	
.mod_playlists .title{display:inline-block;height:26px;width:auto;background-color:#0895ee;text-align:left;background-image:url(../images/icon-playlist.gif);background-repeat:no-repeat;padding-left:30px;padding-right:10px;}
.mod_playlists .title h2{font-family: "Subtitle", Arial, Verdana, Helvetica, sans-serif;letter-spacing:0px;font-size:22px;font-weight:bold;margin:0px;color:#fff;text-transform:uppercase; padding-top:2px; letter-spacing:1px;}
.mod_playlists .cont{width:auto;text-align:left;margin:0auto;padding-left:5px;padding-right:5px;color:#fff;padding-bottom:10px;}	
.mod_playlists img{width:50px;height:50px;}	


	
/**mod_contlist-----------------------------------------------------**/
#mod_contlist{position:relative;width:100%;background-color:#333333;color:#fff;overflow:hidden}
#mod_contlist .header{width:auto;height:26px;background-image:url(../images/sf-lines.gif);background-repeat:repeat;background-color:#e60544;color:#fff;text-align:left;padding:0px;}
#mod_contlist .title{display:inline-block;height:26px;width:auto;background-color:#e60544;text-align:left;background-image:url(../images/icon-songs.gif);background-repeat:no-repeat;
padding-left:30px;padding-right:10px;}
#mod_contlist .title h2{font-family: "Subtitle", Arial, Verdana, Helvetica, sans-serif;letter-spacing:0px;font-size:22px;font-weight:bold;margin:0px;color:#fff;text-transform:uppercase; padding-top:2px; letter-spacing:1px;}	
#mod_contlist .cont{width:auto;text-align:left;margin:0auto;padding-left:0px;padding-right:0px;color:#fff;}	
#mainlist{width:auto;text-align:left;min-height:100px;margin:0auto;padding-left:5px;padding-right:5px;background-color:#E5E5E5;color:#fff;}	














/**ResponsiveMagic**/

@media screen and (max-width:1200px)
{
	



}






@media screen and (max-width:580px)
{

/**LAYOUTSTYLES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<**/
/**Containers**/
.container{width:100%;line-height:22px;height:100%;position:relative;margin:auto;padding:0px;}
.darkbg{background-color:#e60544;}
.coverbg{max-width:480px;background-color:#FFFFFF;}
.darkbg2{max-width:480px;background-color:#FFFFFF;}	
.lightbluebg{background-color:#e60544;}
.bg3{max-width:480px;background-color:#FFFFFF;}

/**Header**/
#headercont{background-color:#cf043d;width:100%;margin-left:0px;height:auto;text-align:center;position:relative;padding-bottom:0px;padding-top:0px;color:#FFFFFF}

/**Main-------------------------------------------------------**/
#mainleft{color:#000;width:100%;background-color:#e5e5e5;height:100%;margin:auto;padding:0px;float:left;text-align:left;position:relative;overflow:hidden}
#mainleft_header{color:#000;background-color:#CCCCCC;margin-top:0px;padding:0px;padding-left:20px;padding-right:20px;text-align:center;margin:auto;position:relative;overflow:hidden;
background-position:right;height: auto;}
#mainright{display:none;float:right;background-color:#fff;width:450px;padding:0px;height:100%;}


/** jcarousel SLIDE IN HOMEPAGE------------------------------------------------------ **/
.jcarousel-wrapper {position: relative;text-align: center;margin:auto;width:280px; height:240px; margin-top:10px}
.jcarousel-plist-wrapper {position: relative;text-align: center;margin:auto;width:280px; height:240px;margin-top:10px}
.jcarousel-gen-wrapper {position: relative;text-align: center;margin:auto;width:280px; height:140px; margin-top:10px}
/** tags **/
.jcarousel {float:left; position: relative; overflow: hidden;width: 240px;}
.jcarousel ul {width: 1220em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel li {float: left; border:#fff solid 2px}
/** playlists **/
.jcarousel-plist {float:left;position: relative;overflow: hidden;width: 240px;}
/**  genres **/
.jcarousel-gen {float:left;position: relative;overflow: hidden;width: 240px;}
.jcarousel-gen ul {width: 1220em;position: relative;list-style: none;margin: 0;padding: 0;}
.jcarousel-gen li {float: left; border:#fff solid 2px}






/**CSSMODULES<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<**/
/**headervideo-----------------------------------------------------**/
	#headervideo_cont {
	 width: 98%;display: inline-block;position: relative;margin-bottom:10px;margin-top:10px;max-width:600px;float:left;border:#CCCCCC solid 4px;}		
	#headervideo_cont:after {
		padding-top: 66.25%;
		display: block;
		content: '';
	}
	#headervideo {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		background-color: blue;
		color: white;
	}

#headervideo h1{font-size:26px;font-weight:400;padding-top:26px;}			
#headervideo h1 a{font-family:"Orienta",Arial,Helvetica,sans-serif;color:#FFF;font-size:35px;letter-spacing:-2px;}				
#headervideo h1 a:hover{color:#0CF;}
/**headertext-----------------------------------------------------**/
#headertext{width:100%;height:130px;margin:auto;position:relative;margin-bottom:10px;margin-top:10px;max-width:600px;float:left;
font-family:"Orienta",Arial,Helvetica,sans-serif;color:#000;font-size:13px;text-align:left}	
/**headertitle-----------------------------------------------------**/
#headertitle{width: auto;height: auto;margin:auto;position:relative;margin-bottom:10px;margin-top:20px;max-width:600px;
 font-family: "TitleBold", Arial, Helvetica, sans-serif; font-size:25px;color:#000;text-align:left; font-size: 26px; line-height: 26px; }	
/**player_toolbar-----------------------------------------------------**/
#player_toolbar{width:100%;background-color:#999999;height:20px;margin:auto;position:relative;margin-bottom:10px;margin-top:0px;max-width:900px;float:left;height:30px}		



/**MenuTOP**/
#menulogo{width:200px;height:50px;margin:auto;float:left;}
#menu{width:400px;float:right;height:50px;}				
.container#menucont{width:80%;max-width:980px;padding:3px0;margin:0auto;height:60px;}			
.container#menucont img{display:block;width:100%;height:100%;}	
.container#menucont.menuselect{display:none;font-family:inherit;}

.container#menucont ul{float:left;}
.container#menucontul li{display:inline;}
.container#menucontullia{float:left;padding:015px;font-weight:bold;font-size:13px;text-decoration:none;color:#CCF5FF;font-family:"primaria", Arial, Verdana, Helvetica, sans-serif}
.container#menucontullia:hover,.container#menucontulli.activea{color:#FFF;}





.coverbg{max-width:1000px;background-color:#FFFFFF;}


/**Header**/
#headercont{background-color:#cf043d;width:100%;margin-left:0px;position:relative;padding-bottom:0px;padding-top:5px;color:#FFFFFF;height: 80px;}
/**mod_mainsearch-----------------------------------------------------**/
#mod_mainsearch{width:100%;float:left;max-width:1300px;margin:0auto;padding-left:0px; padding-right:0px;color:#fff;font-size:32px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;}
.header-answer{  font-size:13px;font-family:"TitleExtraBold",Arial,Verdana,Helvetica,sans-serif;padding-left:1%; padding-right:1%; width:100%}
.header-form{ width:100%;}
.search_input{text-decoration:none;background-position:bottom;border:hidden;background-image:url(../images/field-search1.png);background-repeat:no-repeat;width:195px;height:29px;padding-left:5px;padding-right:5px;color:#FFFFFF;font-weight:bold;font-size:20px;font-family:Arial,Helvetica,sans-serif;text-align:center;background-color:#cf043d}
#mod_mainsearch .search_button{text-decoration:none;border:hidden;margin-left:10px;width:87px;height:26px;background-color:#9a012c;color:#FFFFFF;font-weight:bold;font-size:15px;font-family:Arial,Helvetica,sans-serif; cursor: pointer; }
#mod_mainsearch .search_button:hover{background-color: #990000;}
}


.languageLink1:link
{
	text-decoration: none;
	color: #757575;
	font-weight: bold;
}

.languageLink2:link
{
	text-decoration: none;
	color: #757575;
	font-weight: bold;
}
